.vscode
*.cmd
*.d
*.dmp
*.elf
*.lds
*.map
*.o
*.swp
*.ta
optee_example*
optee_test
optee_client/out/libteec
optee_client/out/tee-supplicant
optee_os/out/arm/core
optee_os/out/arm/core-lib
optee_os/out/arm/include
optee_os/out/arm/ta*
optee_os/out/arm/conf*
tee_example
